:root {
  --small_button_size: clamp(2rem, 1.8vmax, 10rem);
  --large_button_size: clamp(3rem, 2.9vmax, 16rem);
}

.menu_button {
  transform: translate(-50%, -50%);
  left: 50vw;
  top: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  position: fixed;
  border-radius: 100%;
  padding: var(--small_button_size);
  background: white;
  transition-timing-function: ease;
  transition-duration: 250ms;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: 0.1s;
  background-image: linear-gradient(45deg, red, purple);
  cursor: pointer;
}

.menu_button > div {
  padding: var(--small_button_size);
  position: fixed;
  background: white;
  border-radius: 100%;
  transition-timing-function: ease;
  transition-duration: 250ms;
}

.gg-arrow-down {
  position: fixed;
  color: #000;
  pointer-events: none;
}

body[data-active="true"] > #main_button > .gg-arrow-down {
  rotate: z 180deg;
}

#expanding_ring {
  left: 50vw;
  top: 92vh;
  position: fixed;
  padding: var(--small_button_size);
  border-radius: 100%;
  background: transparent;
  transform: translate(-50%, -50%) scale(0%);
  border: solid;
  border-width: 1px;
  border-color: red;
  transition-duration: 500ms;
  pointer-events: none;
}

body[data-active="true"] > #expanding_ring {
  transform: translate(-50%, -50%) scale(1000%);
  border-width: 0px;
  opacity: 0;
}

@keyframes rotate_non_stop {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes counter_rotate_non_stop {
  0% {
    transform: scale(150%) rotate(360deg);
  }
  100% {
    transform: scale(150%) rotate(0deg);
  }
}

.menu_button:hover {
  animation-name: rotate_non_stop;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  position: fixed;
  border-radius: 100%;
  padding: var(--large_button_size);
  background-image: linear-gradient(45deg, red, purple);
}

.menu_button:hover > #outer_ring{
  padding: calc(var(--large_button_size) - 10%);
  position: fixed;
  border-radius: 100%;
  background: black;
  transition-duration: 100ms;
  transition-timing-function: ease;
}

.menu_button:hover > i {
  color: white;
  transition-duration: 100ms;
  animation-name: counter_rotate_non_stop;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.menu_button:active {
  padding: calc(var(--small_button_size) + 3px);
}

.menu_button:active > #outer_ring {
  background: black;
  padding: var(--small_button_size);
}

.menu_button:active > i {
  /*color: linear-gradient(45deg, red, purple);*/
}
