::-webkit-scrollbar {
  background-color: transparent;
  width: .3em;
  width: 0;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: .5em;
  margin-block: 0.2em;
}

::-webkit-scrollbar-thumb {
  background: #EEEEEE;
  border-radius: .5em;
}

::-webkit-scrollbar-thumb:hover {
  background: #999999;
}
