:root {
  --big_text: clamp(4rem, 4svmax, 8rem);
  --small_text: clamp(2rem, 2svmax, 4rem);
}

body, html {
  font-family: 'JetBrains Mono', monospace;
  background: black;
  /*background: linear-gradient(105deg, #0f1921, #205275);*/
  height: 100%;
  width: 100%;
  margin: 0;
}

#dynamic_background {
  z-index: 0;
  position: fixed;
  height: 100svh;
  width:  100svw;
  background: linear-gradient(black, black);
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

h {
  color: white;
  z-index: 100;
  font-size: var(--big_text);
}

p {
  color: white;
  z-index: 100;
  font-size: var(--small_text);
}

.teste {
  color: #FFFFFF;
}

